# Exclude everything by default.  Require individual files to be whitelisted.
global-exclude *

# Include python files.
include setup.py
recursive-include validation *.py

# Include type annotation stub files.
include validation/py.typed
recursive-include validation *.pyi

# Include documentation.
include README.rst LICENSE
